<div class="panel panel-default">
  <div class="panel-heading">
    <p>メッセージ一覧</p>
  </div>
  <div class="panel-body">
    <% @messages.each do |message| %>
      <span class="label label-info"><%= message.name %></span>
      <%= message.body %>
      <br>
    <% end %>
  </div>
</div>

<div class="A">
  <%= form_for(@message) do |f| %>
    名前:
    <%= f.text_area :name %>
  
    内容:
    <%= f.text_area :body %>
  <div class="B">
      <%= f.submit class: "btn btn-sm btn-success" %>
    <% end %>
  </div>
</div>